# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars.local

# Keep terraform.tfvars as it contains non-sensitive defaults
!terraform.tfvars
