<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Quiet down noisy libraries -->
    <logger name="io.ktor" level="WARN"/>
    <logger name="software.amazon" level="WARN"/>
    <logger name="it.skrape" level="WARN"/>

    <!-- Our code at DEBUG level -->
    <logger name="org.jcjolley.curator" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
